.about-us {
  background-color: var(--white);
}

.about-us__container {
  padding-top: 100px;
  padding-bottom: 68px;
}

.about-us__title {
  padding-bottom: 21px;
  font-size: var(--fs-48);
  font-style: var(--regular);
}
