.accordion__title {
  margin: 0;
}

.accordion__question {
  margin-top: -1px;
  border-bottom: 1px solid var(--light-gray);
  transform: border-color var(--short);
}

.accordion__question:first-child {
  border-top: 1px solid var(--light-gray);
}

.accordion__question:not(:first-child) {
  border-top: 1px solid transparent;
}

.accordion__question:focus-within {
  border-color: var(--violet);
}

.accordion__item-title:focus:not(:active) {
  color: var(--white);
  outline: none;
}

.accordion__btn {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  min-height: 114px;
  padding-top: 41px;
  padding-right: 90px;
  padding-bottom: 41px;
  font-size: var(--fs-24);
  font-weight: var(--semibold);
  line-height: var(--lh-32);
  text-align: left;
  outline: none;
  transition: color var(--short);
}

.accordion__btn:focus {
  color: var(--violet);
}

.is-active .accordion__item-title {
  border-bottom: 1px solid var(--violet);
}

.accordion__btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 50px;
  height: 50px;
  background-image: url("../img/arrow-down.svg");
  transition: background-imag, var(--short), transform var(--medium);
  transform: translateY(-50%);
}


.accordion__btn:focus:after {
  background-image: url("../img/arrow-up.svg");
}

/* .accordion__question:first-child .accordion__item-title {
  border-top: 1px solid var(--light-gray);
} */

.accordion__tabs-list {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;

  column-count: 3;
  /* width: 330px; */
}

.accordion__tabs-item {
  font-size: var(--fs-16);
  font-weight: var(--regular);
  line-height: var(--lh-32);
  color: var(--black);
}

.ac-panel {
  visibility: hidden;
  opacity: 0;
  /* transition: opacity var(--short)ease-in, visibility var(--short) ease-in; */
  transition-delay: var(--short);
}

.is-active .accordion__btn {
  border-top: 1px solid var(--violet);
  color: var(--violet);
}

.is-active .ac-panel {
  top: 0;
  visibility: visible;
  /* margin-bottom: 40px; */
  opacity: 1;
}

.accordion__content-wrap--empty {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: column;
  flex-wrap: wrap;
}

.accordion__empty-left {
  margin-right: 24px;
  padding-top: 25px;
}

.accordion__empty-right {
  max-width: 275px;
  padding-top: 60px;
}


.accordion-years:focus{
  color: var(--white);
  background-color: var(--deep-lavender);
  transition: all ease-in-out var(--short);
}

.accordion-years:active {
  color: var(--violet);
  transition: all ease-in-out var(--short);
}


.accordion__painter-link:focus {
  background-color: var(--deep-lavender);
  transition: all ease-in-out var(--short);
}

.accordion__painter-link:active {
  border-bottom: 1px solid var(--violet);
  transition: all ease-in-out var(--short);
}

@media (any-hover: hover) {
.accordion__painter-link:hover {
  border-bottom: 1px solid var(--violet);
  background-color: var(--white);
  transition: all ease-in-out var(--short);
}

.accordion-years:hover {
  color: var(--deep-lavender);
}
.accordion__question:hover:not(:active) {
  border-color: var(--deep-lavender);
}

.empty-gallery-btn:hover:not(:active) {
  color: var(--light-lavender);
}
.accordion__btn:hover:not(:active)::after {
  background-image: url("../img/arrow-focus.svg");
}

}
