.accordion__title {
  margin: 0;
}

.accordion__question {
  margin-top: -1px;
  border-bottom: 1px solid var(--light-gray);
  transform: border-color var(--short);
}

.accordion__question:first-child {
  border-top: 1px solid var(--light-gray);
}

.accordion__question:not(:first-child) {
  border-top: 1px solid transparent;
}

.accordion__question:focus-within {
  border-color: var(--violet);
}

.accordion__btn {
  position: relative;
  z-index: 1;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.accordion__item-title:focus:not(:active) {
  color: var(--white);
  outline: none;
}

.accordion__btn {
  position: relative;
  display: block;
  width: 100%;
  min-height: 110px;
  padding-top: 30px;
  padding-right: 90px;
  padding-bottom: 30px;
  font-size: 24px;
  font-weight: var(--bold);
  line-height: 32px;
  text-align: left;
  outline: none;
  transition: color var(--short);
}

.accordion__btn:focus {
  color: var(--violet);
}

.is-active .accordion__item-title {
  border-bottom: 1px solid var(--violet);
}

.accordion__btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 50px;
  height: 50px;
  background-image: url("../img/arrow-down.svg");
  transition: background-imag, var(--short), transform var(--medium);
  transform: translateY(-50%);
}

.accordion__btn:focus:after {
  background-image: url("../img/arrow-up.svg");
}

.accordion__question:first-child .accordion__item-title {
  border-top: 1px solid var(--light-gray);
}

.accordion__tabs-list {
  padding-top: 25px;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 600px;
}

.accordion__tabs-item {
  max-width: 33%;
  height: 60px;
    /* margin: 0; */
  font-size: 16px;
  font-weight: var(--regular);
  line-height: 32px;
  color: var(--black);
}

.ac-panel {
  visibility: hidden;
  opacity: 0;
  transition: opacity var(--short)ease-in, visibility var(--short) ease-in;
  transition-delay: var(--short);
}

.is-active .accordion__btn {
  color: var(--violet);
  border-top: 1px solid var(--violet);
}
.is-active .ac-panel {
  top: 0;
  visibility: visible;
  /* margin-bottom: 40px; */
  opacity: 1;
}

.accordion__content-wrap--empty {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
      flex-direction: row;
}

@media (any-hover: hover) {
  .accordion__question:hover:not(:active) {
    border-color: var(--light-lavender);
  }

  .accordion__btn:hover:not(:active) {
    color: var(--light-lavender);
  }

  .accordion__btn:hover:not(:active)::after {
    background-image: url("../img/arrow-focus.svg");
  }
}
