.catalog {
  padding-top: 100px;
  padding-bottom: 40px;
}

.catalog__title {
  margin-bottom: 34px;
}

.catalog__descr {
  /* padding-top: 7px; */
  font-size: var(--fs-16);
  line-height: 32px;
  margin-bottom: 40px;
}

.catalog__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.catalog__content {
  width: calc(750 / 1600 * 100%);
}

.catalog__accordion {
  width: calc(800 / 1600 * 100%);
}

.catalog__img {
  margin-bottom: 20px;
  width: 100%;
}

.catalog__name {
  font-size: var(--fs-24);
  font-weight: var(--semibold);
}

.catalog__years {
  display: block;
  font-size: var(--fs-12);
  color: var(--gray);
  margin-bottom: 10px;
}

.catalog__painter {
  display: none;
  line-height: var(--lh-32);
}

.catalog__painter.active {
  display: block;
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: var(--medium);
  animation-duration: var(--medium);
}

