.contacts {
  border: 1px solid var(--light-gray);
}

.contacts__top {
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.contacts__adress {
  flex-direction: column;
}

.contacts__title {
  margin: 0;
  font-size: var(--fs-24);
  font-weight: var(--semibold);
  line-height: var(--lh-32);
}

.adress {
  font-size: var(--fs-16);
  font-weight: var(--regular);
  font-style: normal;
}

.contacts__form {
  flex-wrap: wrap;
}

.contacts__input {
  width: 270px;
  height: 50px;
  margin-right: 20px;
  padding: 9px 24px;
  border: 1px solid var(--dark);
  border-radius: 100px;
  color: var(--gray);
  vertical-align: middle;
  transition-duration: var(--short);
  transition-property: background-color, color;
}

.contacts__input:focus {
  color: var(--black);
  background-color: var(--white);
}

.contacts__input:active {
  color: var(--dark);
  background-color: var(--light-gray);
}

.contacts__btn-mob {
  display: none;
}

.contacts__btn {
  position: relative;
  height: 50px;
  padding: 11px 35px;
  border: 2px solid var(--deep-lavender);
  border-radius: 100px;
  font-size: var(--fs-18);
  font-weight: var(--bold);
  line-height: 25px;
  color: var(--deep-lavender);
  background-color: transparent;
  cursor: pointer;
  transition: color var(--short);
  transition-duration: var(--short);
  transition-property: background-color, color, box-shadow;
}

.contacts__btn:focus {
  outline: none;
  background-color: var(--light-gray);
}

.contacts__btn:active {
  background-color: var(--deep-lavender);
  box-shadow: inset 0 0 0 3px var(--light-lavender);
}

.contacts__btn::after {
  content: "";
  position: absolute;
  top: -7px;
  right: -7px;
  bottom: -7px;
  left: -7px;
  border: 2px solid var(--light-violet);
  border-radius: inherit;
  opacity: 0;
  transition: opacity var(--short);
}

.contacts__btn:focus:not(:active):not(:hover)::after {
  opacity: 1;
}

.showroom__socials-title {
  margin-top: 0;
  font-size: 24px;
  font-weight: var(--semibold);
}

.contacts__message {
  flex-direction: column;
  padding-top: 8px;
}

.contacts__message-title {
  margin-bottom: 9px;
  font-size: var(--fs-24);
  font-weight: var(--semibold);
}

.is-label-invalid,
.just-validate-error-label {
  position: absolute;
  top: -30px;
  left: 20px;
  font-size: 12px;
}

@media (any-hover: hover) {
  .contacts__input:hover {
    background-color: var(--light-gray);
  }

  .contacts__btn:hover {
    color: var(--white);
    background-color: var(--deep-lavender);
  }
}
