.footer {
  background-color: var(--black);
}

.footer__wrapper {
  justify-content: space-between;
  align-items: center;
}

/* .footer__logo {
  max-width: 173px;
  height: 40px;
} */

.logo__image {
  padding-top: 50px;
  padding-bottom: 50px;
}


.footer__items {
  display: flex;
  width: 45px;
  height: 45px;
}

.footer__items:not(:last-child) {
  margin-right: 20px;
}

.footer__link {
  width: 100%;
  height: 100%;
  fill: var(--light-middle-gray);
  outline: none;
  transition: fill var(--short);
}

.footer__link:focus:not(:active) {
  fill: var(--white);
}

.footer__link:hover {
  fill: var(--white);
}

.footer__link:active {
  fill: var(--violet);
}
