.hero__container {
  position: relative;
  padding-top: 62px;
  padding-bottom: 120px;
}

.hero__content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: var(--white);
}

.hero__title {
  display: inline-block;
  margin-bottom: 0;
  font-size: var(--fs-72);
  font-weight: var(--bold);
  line-height: var(--lh-98);
  color: var(--white);
  width: 597px;
}

.hero__text {
  margin-bottom: 90px;
  font-size: var(--dafault-fs);
  font-weight: var(--bold);
  line-height: var(--lh-30);
  color: var(--white);
  width: 597px;
}

.hero__btn {
  max-width: 312px;
  padding: 22px 35px;
  border: 3px solid var(--deep-lavender);
  border-radius: 100px;
  font-size: var(--fs-18px);
  font-weight: var(--bold);
  color: var(--white);
  text-align: center;
  background-color: var(--deep-lavender);
}

.hero__btn:focus:not(:active) {
  border-color: var(--white);
  outline: 2px solid var(--lavender);
}

.hero__btn:active {
  border-color: var(--light-lavender);
  background-color: var(--violet);
}

.hero__slider-wrapper {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: var(--black);
}

.hero__slider.hero__slider-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation-name: resize;
  animation-name: resize;
  -webkit-animation-duration: var(--long);
  animation-duration: var(--long);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.hero__slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__slide--one {
  height: 800px;
  background-color: var(--black);
  background-image: url("../img/hero-slider-one@1920.jpg");
}

.hero__slide--two {
  height: 800px;
  background-color: var(--black);
  background-image: url("../img/hero-slider-two@1920.jpg");
}

.hero__slide--three {
  height: 800px;
  background-color: var(--black);
  background-image: url("../img/hero-slider-three@1920.jpg");
}

.swiper-pagination-bullets .swiper-pagination-bullet {
  display: none;
  width: 10px;
  height: 10px;
  background-color: var(--white);
}

@media (any-hover: hover) {
  .hero__btn:hover {
    border-color: var(--light-lavender);
  }
}
