/* .link {
  position: relative;
  display: inline-block;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color var(--short);
}

.link__text {
  position: relative;
}

.link::before {
  content: "";
  position: absolute;
  top: -2px;
  right: -6px;
  bottom: -3px;
  left: -6px;
  background-color: var(--dark-violet);
  transform: scaleX(0);
  transition: transform var(--short);
}

.link:focus {
  outline: none;
}

.link:focus:not(:hover):not(:active)::before {
  transform: scaleX(1);
}

.link:hover {
  color: var(--light-violet);
}

.link:active {
  color: var(--dark-violet);
  transition: none;
}

 .link__icon {
  width: 100%;
}

.link:focus:not(:hover):not(:active)::before {
  transform: scaleX(1);
}

/* .link:active {
  color: var(--violet-dark);
  transition: none;
}

.link_text {
  color: var(--light-violet);
  transition: color var(--short);
}

.link_text::before {
  left: -1px;
  right: -1px;
}

.link_text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: currentColor;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform var(--short);
}

.link_text:hover::after {
  transform: scaleX(1);
}

.link_text:focus:not(:hover):not(:active) {
  color: var(--white);
}
*/
