.socials__item {
  display: inline-block;
  margin-right: 30px;
  padding-top: 23px;
  padding-bottom: 23px;
  list-style: none;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  width: 24px;
  height: 24px;
  outline: none;
  transform: fill var(--short);

  fill: var(--dark-gray);
}

.socials__link:focus:not(:active) {
  outline: 2px solid var(--orange);
  outline-offset: 3px;
}

.socials__link:active {
  fill: var(--dark-orange);
}

@media (any-hover: hover) {
  .socials__link:hover:not(:active) {
    fill: var(--orange);
  }
}
