@media (max-width:1600px) {
  .contacts__top {
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contacts__adress,
  .contacts__form {
    margin-bottom: 30px;
  }

  .contacts__message {
    padding-top: 0;
  }

  .swiper__partners-slide {
    max-width: 384px;
    height: 128px;
  }
}

@media (max-width: 1440px) {
  .header__container,
  .header__bottom-container {
    max-width: 1200px;
  }

  .accordion__tabs-list {
    column-count: 2;
  }
}

@media (max-width:1280px) {
  /* для 1024  */

  .header__top {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .header__burger {
    display: block;
  }

  .burger:focus {
    outline: 2px solid var(--deep-lavender);
    outline-offset: 2px;
  }

  .burger:active {
    outline: 2px solid var(--violet);
    outline-offset: 2px;
  }

  .header__burger.burger {
    position: relative;
    z-index: 13;
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  .header__logo {
    width: 188px;
    height: 42px;
    margin-right: 0;
  }

  .header__nav {
    position: absolute;
  }

  .header__bottom {
    display: none;
  }

  .header__menu-wrap {
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100vh;
    padding-top: 97px;
    padding-left: 50px;
    background-color: var(--black);
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    transform: translateX(-100%);
  }

  .header__menu {
    display: block;
    overflow-y: auto;
    max-height: 100%;
    margin: 0;
    margin-bottom: auto;
    font-size: var(--fs-24);
    font-weight: var(--bold);
    line-height: var(--lh-65);
  }

  .header__menu-wrap.is-active {
    display: block;
    transform: translateX(0);
    animation-name: menu-open;
    animation-duration: .3s;
  }

  .header__menu-wrap.is-closed {
    animation-name: menu-close;
    animation-duration: .3s;
  }

  .header__menu-item {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header__menu-item:last-child {
    margin-bottom: 199px;
  }

  .header__login {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 257px;
    padding: 19px;
    border: 2px solid var(--deep-lavender);
    border-radius: 100px;
    transition: background-color var(--short), color var(--short);
  }

  .header__login::before {
    display: none;
  }

  .header__login:focus:not(:hover):not(:active) {
    background-color: var(--deep-lavender);
  }

  .header__top-search,
  .header__search-form.is-opened .header__search-btn--open {
    display: block;
  }

  .header__search-btn-top {
    margin-right: 0;
  }

  .header__search-form-top {
    margin: 0;
  }

  .header__search-btn-top {
    width: 30px;
    height: 30px;
  }

  .header__search-btn--right-top {
    margin-right: 10px;
    color: var(--white);
  }

  .header__close-btn-top {
    width: 29px;
    height: 29px;
    margin-right: 0;
  }

  .burger:hover {
    color: var(--violet);
    outline: 2px solid var(--lavender);
    outline-offset: 2px;
  }

  .hero__container {
    padding-top: 105px;
    padding-bottom: 115px;
  }

  .hero__content {
    max-width: 661px;
  }

  .hero__slide-one {
    background-image: url("../img/hero-slider-one@1024.jpg");
  }

  .hero__slide-two {
    background-image: url("../img/hero-slider-two@1024.jpg");
  }

  .hero__slide-three {
    background-image: url("../img/hero-slider-three@1024.jpg");
  }

  .hero__title {
    margin-bottom: -10px;
  }

  .hero__text {
    margin-bottom: 130px;
  }

  .gallery {
    background-image: url("../img/gallery__background@1024.jpg");
  }

  .gallery__left {
    width: calc(280 / 925 * 100%);
  }

  .gallery__title {
    font-size: var(--fs-48);
  }

  .gallery__filter {
    margin-bottom: 106px;
    font-size: var(--fs-16);
    line-height: var(--lh-32);
  }

  .gallery__filter-label {
    margin-bottom: 10px;
    font-weight: var(--semibold);
  }

  .choices__list--single {
    padding: 0;
  }

  .gallery__checkbox-visible {
    top: 0;
  }

  .gallery__checkbox {
    margin-top: 0;
  }

  .gallery__swiper {
    width: calc(595 / 925 * 100%);
  }

  .gallery__slide::before {
    padding-top: calc(113% - 6px);
  }

  .gallery__input-wrap {
    margin-top: 0;
  }

  .century__visible-checkbox {
    top: 0;
  }

  .catalog__content {
    width: calc(437 / 925 * 100%);
  }

  .accordion {
    width: calc(437/ 925 * 100%);
  }

  .accordion__tabs-item-bonus {
    display: none;
  }

  .catalog__img {
    margin-bottom: 20px;
  }

  .article {
    height: 683px;
  }

  .article__content {
    padding: 13px 34px 47px 34px;
  }

  .article__title {
    margin-bottom: 8px;
    font-weight: 700;
  }

  .article__content-info {
    margin-bottom: 4px;
    font-weight: var(--regular);
    text-align: right;
  }

  .events__container {
    padding-top: 40px;
    padding-bottom: 0;
  }

  .events__navigation {
    display: none;
  }

  .js-events-swiper-wrapper {
    margin-bottom: 25px;
  }

  .js-events-swiper {
    overflow-y: visible;
    min-height: 800px;
  }

  .swiper-pagination {
    display: block;
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,7px);
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 73px;
  }

  .swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: var(--dark-gray);
  }

  .swiper-pagination-bullet-active {
    background-color: var(--dark-gray);
  }

  .swiper-event {
    justify-content: center;
  }

  .projects__container {
    padding-top: 0;
  }

  .projects__descr {
    margin-bottom: 23px;
  }

  .projects__slider-wrap {
    position: relative;
    padding-right: 50px;
    padding-left: 50px;
  }

  .swiper__partners-slide {
    height: 130px;
  }

  .contacts__top {
    padding-top: 43px;
  }

  .contacts__adress {
    margin-bottom: 26px;
  }

  .contacts__form {
    align-items: flex-start;
    margin-bottom: 18px;
  }

  .contacts__wrapper {
    margin-bottom: 12px;
  }

  .contacts__title {
    margin-bottom: 7px;
  }

  .adress {
    font-size: var(--fs-14);
  }

  .contacts__btn {
    padding-right: 42px;
    padding-left: 42px;
  }

  .contacts__message {
    padding: 0;
  }

  .footer__container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .footer__items,
  .footer__link-img {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 962px) {
  .header__search-form-top {
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    height: 100px;
    padding: 0;
    padding-right: var(--container-padding);
    padding-left: var(--container-padding);
    background-color: var(--black);
  }

  .header__search-input {
    flex-grow: 1;
    width: auto;
    margin-right: 23px;
  }

  .header__search-btn-top {
    width: 27px;
    height: 27px;
  }

  .hero__text {
    margin-bottom: 130px;
  }

  .burger__box {
    height: 27px;
  }

  .hero__slide-one {
    background-image: url("../img/hero-slider-one@768.jpg");
  }

  .hero__slide-two {
    background-image: url("../img/hero-slider-two@768.jpg");
  }

  .hero__slide-three {
    background-image: url("../img/hero-slider-three@768.jpg");
  }

  .gallery {
    background-image: url("../img/gallery__background@768.jpg");
  }

  .gallery__container {
    padding-bottom: 33px;
  }

  .gallery__left,
  .gallery__swiper {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 0;
  }

  .gallery__left {
    margin-bottom: 15px;
  }

  .gallery__filter {
    max-width: 281px;
    margin-bottom: 40px;
  }

  .gallery__slides-container {
    height: 82%;
  }

  .swiper-wrapper {
    height: 96%;
  }

  .modal {
    width: 100%;
    max-width: 594px;
    height: 594px;
  }

  .catalog__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
  }

  .catalog__content {
    width: 100%;
  }

  .catalog__accordion {
    width: 100%;
    margin-bottom: 50px;
  }

  .accordion__tabs-list {
    width: 105%;

    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
  }

  .accordion__tabs-item-bonus {
    display: block;
  }

  .catalog__descr {
    margin-bottom: 18px;
  }

  .catalog__img {
    margin-bottom: 10px;
  }

  .catalog__years {
    margin-bottom: 0;
  }

  .article__content {
    padding-right: 18px;
  }

  .projects__container {
    padding-top: 5px;
    padding-bottom: 79px;
  }

  .projects__slider-title {
    margin-bottom: 32px;
  }

  .projects__subtitle {
    margin-bottom: 27px;
  }

  .projects__slider-wrap {
    padding-right: 53px;
    padding-left: 53px;
  }

  .swiper__partners-slide {
    height: 106px;
  }

  .contacts__top {
    padding-top: 42px;
  }

  .contacts__title {
    letter-spacing: -.03em;
  }

  .contacts__adress {
    padding-top: 0;
  }

  .contacts__input {
    width: 323px;
  }

  .contacts__wrapper:nth-child(2) {
    margin-right: 0;
  }

  .contacts__input-call {
    width: 317px;
    padding: 12px 30px;
  }

  .contacts__form {
    margin-bottom: 30px;
  }
}

@media (max-width: 660px) {
  .section-title {
    margin-bottom: 12px;
    font-size: 28px;
    line-height: 38px;
  }

  .section-descr {
    font-size: 14px;
    line-height: 28px;
  }

  .header__box {
    width: 25px;
    height: 18px;
  }

  .header__menu-wrap {
    padding-left: 15px;
  }

  .header__menu-item {
    margin-bottom: 0;
  }

  .header__menu-item:last-child {
    margin-bottom: 304px;
  }

  .header__search-form-top {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .hero__container {
    padding-top: 30px;
    padding-bottom: 45px;
  }

  .hero__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .hero__title {
    margin-bottom: 1px;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
  }

  .hero__descr {
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: var(--regular);
    line-height: 16px;
  }

  .hero__text:last-of-type {
    margin-bottom: 40px;
  }

  .hero__btn {
    margin-right: 0;
    padding: 13px 16px 13px 19px;
    font-size: 12px;
    line-height: 16px;
  }

  .accordion__tabs-list {
    column-count: 2;
  }
}

@media (max-width: 540px) {
  :root {
    --container-padding: 15px;
  }

  .header__login {
    width: 115px;
  }

  .header__link-text {
    font-size: var(--fs-12);
    font-weight: var(--semibold);
  }

  .hero__slide-one {
    background-image: url("../img/hero-slider-one@320.jpg");
  }

  .hero__slide-two {
    background-image: url("../img/hero-slider-two@320.jpg");
  }

  .hero__slide-three {
    background-image: url("../img/hero-slider-three@320.jpg");
  }

  .about-us__container {
    padding-top: 50px;
  }
}
